@import "variables";

.amp-viewer-kit {
  .amp-portrait-view {
    .main-container {
      margin: 0 0 0 100px;

      .icon.icon-right {
        right: 0;
      }
      .icon.icon-left {
        left: 0;
      }

      .list {
        margin: 0;

        .amp-slide {
          marign: 0;
        }
      }
    }

    .nav-container {
      height: 100%;
      width: 90px;
      margin: 0;
      padding: 30px 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;

      &.amp-without-thumbs{
        padding:0;
      }

      .icon.icon-right, .icon.icon-left {
        margin-left: -13px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }

      .icon.icon-right {
        bottom: 0;
        right: auto !important;
        left:50% !important;
        top: auto;
        background-image: url('svg/ic_stepforward_vert_24px.svg');
      }
      .icon.icon-left {
        top: 0;
        left:50% !important;
        background-image: url('svg/ic_stepbackward_vert_24px.svg');
      }

      .amp-carousel {
        width: 90px !important;
      }

      .list {
        .amp-slide {
          width: 70px !important;
          height: 90px;
          margin: 0 10px;
          padding:6px;
          &.amp-selected::after {
            content: "";
            position: absolute;
            height: 94%;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid #707175;
            margin: 0px;
            background-color: transparent;
          }

          .thumbnail {
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
}